<h4>メールアドレスと <br> パスワードを入力してください。</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label for="inputEmail"> Email</label>
    <%= f.email_field :email, autofocus: true, class:"form-control",placeholder:"メールアドレス"%>
  </div>

  <div class="field">
    <label for="inputEmail">Password</label>
    <%= f.password_field :password, autocomplete: "off",placeholder:"パスワード" %>
  </div>
  <%= f.submit"サインイン" %>
<% end %>
